# From gitignore
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# storybook
build-storybook.log
/storybook-static

# From eslintignore
!.storybook
dist

# Custom ignores only for prettier
# Ignore all MD files:
*.md